#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
html,
body {
  margin: 0;
  padding: 0;
}

p {
  color: aquamarine;
}
label {
  color: aquamarine;
  left: 0;
  font-family: Arial;
}
input {
  color: #1f1e33
  font-family: Arial;
  padding: 5px 10px;
  margin: 8px 0;
  box-sizing: border-box;
}
canvas {
  position: fixed;
  left: 0;
  top: 0;
  z-index: -1;
}
